@charset "UTF-8";

/* ---- 画面の大枠のレイアウト用CSS ---- */

/* ---- 共通 ---- */
body {
	margin: 0;
	padding: 0;
}

/* ---- ヘッダー ---- */
header {
	height: 60px;
	width: 100%;
	background-color: #87CEEB;
	padding-top: 10px;
}

/*ヘッダー左側のタイトル*/
header .title {
	margin-left: 10px;
	line-height: 45px;
	font-size: 27pt;
}

/*ログインユーザの情報*/
header .user_info {
	margin-right: 20px;
	line-height: 45px;
	text-align: right;
}


/*--- サイドバー＋メインの幅 ---*/
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
	margin: 0 auto;
}

/* ---- サイドバー ---- */
aside {
	width: 200px;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IEとEdge */
	user-select: none;
	/* Chromeなど */
}

aside .title {
	background-color: #add8e6;
	margin: 5px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}

#search-all {
	background-color: darkorange;
}


aside .form {
	padding-left: 15px;
}

aside input[type=text] {
	width: 110px;
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
}

aside select {
	margin-right:10px;
	vertical-align: middle;
	width: 110px;
	text-align: center;
}

select,
::picker(select) {
  appearance: base-select;
}

aside input[type=submit] {
	width: 50px;
	margin-right: 5px;
}


/*--- 住所検索 ---*/
.area-search {
	max-height: 20vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #87CEEB;
	border-radius: 5px;

}

.area-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

/* ---- メイン ---- */
article {
	width: 700px;
	padding-left: 20px;
}

/* ---- フッター ---- */
footer {
	height: 30px;
	background-color: #87CEEB;
	text-align: center;
	font-size: 8pt;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*---- エラービュー ----*/
.error-page {
	color: black;
	display: grid;
	grid-template-columns: 1fr;
	place-content: center;
	margin-bottom: 10px;
	padding: 5%;
	width: 90%;
	align-items: center;

	h1 {
		text-align: center;
	}

	.error-box {
		background-color: #87CEEB;

		h2 {
			font-weight: bold;
		}

		color:black;
		border: solid black 1px;
		margin-bottom: 10px;
		border-radius: 8px;
		padding: 20px;
		overflow: auto;
	}
}