<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(body)">

<head lang="ja">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--デフォルトCSS-->
<!--	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />-->
<!--	<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />-->
	<!--CSS-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout-fixed.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet-fixed.css}" />
	<title>社員管理システム</title>
</head>

<body>
	<!--/* ヘッダー */-->
	<header>
		<div th:replace="~{common/header :: layout-header}"></div>
	</header>

	<!--/* メイン */-->
	<div class="content">
		<div th:replace="${body}"></div>
	</div>

	<!--/* フッター */-->
	<footer>
		<div th:replace="~{common/footer :: layout-footer}"></div>
	</footer>
	<script>
		//URLからクエリパラメータ値を取得する
		function getQueryParam(name) {
			const urlParams = new URLSearchParams(window.location.search);
			return urlParams.get(name);
		}

		//showAlertパラメータをちゃんと取得するかどうかチェック
		const showAlert = getQueryParam('showAlert');

		//showAlert=='true'の場合はアラートを出力
		if (showAlert === 'true') {
			alert('管理権限がありません。管理者として再度ログインしてください');
			const newUrl = new URL(window.location.href);
			window.onload = function () {
				//URLを取得
				let currentUrl = window.location.href;

				//クエリパラメータ（?showAlert===true）をURLから削除
				let cleanUrl = currentUrl.split('?')[0];

				// 現在のURLをクエリパラメータなしのURLに置き換える
				// ブラウザのリダイレクトボタンをクリックする際にアラートの出力を防ぐ
				if (currentUrl !== cleanUrl) {
					window.history.replaceState({}, document.title, cleanUrl);
				}
			};
		}
	</script>
</body>

</html>