<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<!--サイドバー検索機能　記述欄-->
	<aside th:fragment="layout-sidebar"
		th:class="${session.user == null or session.user.authority == 2} ? ${'search'} : ${'admin_menu'}">
		<!-- 全件検索 -->
		<div class="aside-block">
			<div class="title" id="search-all"><a th:href="@{/list}" title="社員一覧に戻る">※ 全件検索 ※</a></div>
		</div>
		<!--社員名検索ブロック-->
		<div class="aside-block">
			<div class="title">社員名検索</div>
			<div class="form">
				<form th:action="@{/list/empName}" method="get">
					<input type="text" name="empName" placeholder="&quot;郎&quot; &quot;田中&quot; &quot;A&quot;"
						title="社員名入力" />
					<input type="submit" value="検索">
				</form>
			</div>
		</div>

		<!--部署名検索ブロック-->
		<div class="aside-block">
			<div class="title">部署名検索</div>
			<div class="form">
				<form th:action="@{/list/deptId}" method="get">
					<span th:if="${selectedDeptId == null}">
						<select name="deptId" class="dropdown-list">
							<option value="1" selected>営業部</option>
							<option value="2">経理部</option>
							<option value="3">総務部</option>
						</select>
					</span>

					<span th:unless="${selectedDeptId == null}">
						<select name="deptId">
							<option value="1" th:selected="${selectedDeptId}== '1'">営業部</option>
							<option value="2" th:selected="${selectedDeptId}== '2'">経理部</option>
							<option value="3" th:selected="${selectedDeptId}== '3'">総務部</option>
						</select>
					</span>
					<input type="submit" value="検索">
				</form>
			</div>
		</div>

		<!--独自機能：拡張検索ブロック-->
		<th:block th:switch="${session.loginUser.authority}">
			<span th:case="1" style="display:none;"></span>

			<!--管理者専用-->
			<span th:case="2">

				<!--1:生年月日の範囲検索-->
				<div class="title">生年月日の範囲検索</div>
				<div class="form">
					<form th:action="@{/list/birthday}" method="get">
						開始日：<input type="text" name="birthday1" placeholder="YYYY/MM/DD" title="この日付から" /><br>
						終了日：<input type="text" name="birthday2" placeholder="YYYY/MM/DD" title="この日付まで" /><br>
						<input type="submit" value="検索">
					</form>
				</div>

				<!--2:住所検索-->
				<div class="title">住所検索</div>
				<div class="form">
					<form th:action="@{/list/address}" method="get">
						<div class="area-search">
							<div th:each="address : ${uniqueAddresses}" class="area-box">
								<input type="checkbox" name="address" th:value="${address}"
									th:id="${'address-' + address.hashCode()}"
									th:checked="${#lists.contains(selectedAddresses, address)}">
								<label th:for="${'address-' + address.hashCode()}" th:text="${address}">
								</label>
							</div>
						</div>
						<input type="submit" value="検索">
					</form>
					
				</div>
			</span>
		</th:block>
	</aside>
	<!--サイドバー検索機能　記述欄終了-->
</body>

</html>