<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_3block :: layout(~{::body/content()})}">

<head>
	<title>ログイン | 社員管理システム</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<th:block th:fragment="layout-main">
		<div th:object="${loginForm}" class="login_block">
			<h3>ログイン画面</h3>



			<div class="login_form">
				<p>
					<span th:each="error:${#fields.detailedErrors('*')}">
						<span th:text="${error.message}" class="error"></span><br />
					</span>
					<span th:text="${errMessage}" class="error"></span>
				</p>
				<form method="post" th:action="@{/login}">
					<div class="login_box">
						<div class="login_input">
							<div class="login_label">社員ID</div>
							<input type="text" th:field="*{empId}" />
							<div class="login_label">パスワード</div>
							<input type="password" th:field="*{empPass}" />
						</div>
						<div class="login_submit">
							<input type="submit" value="ログイン" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</body>

</html>