<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_3block :: layout(~{::body/content()})}">

<head>
	<title>会員変更入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body th:object="${userForm}" class="admin user_update_input_admin">
	<div class="admin-inner">
		<h3>社員変更入力画面</h3>
		<div class="change-box">
			<div class="update">
				<form th:action="@{/update/check}" method="post" th:object="${employeeForm}">
					<p>
						<span th:each="error:${#fields.detailedErrors('*')}">
							<span th:text="${error.message}" class="error"></span><br />
						</span>
					</p>

					<th:block th:switch="${session.loginUser.authority}">
						<span th:case="1">
							<div class="form">
								<div class="label">パスワード：</div>
								<div class="input required">
									<input type="password" th:field="*{empPass}" />
								</div>
							</div>

							<div class="form">
								<div class="label">社員名：</div>
								<div class="input required" style="display:none;">
									<input type="text" th:field="*{empName}" />
								</div>
								<div class="input" th:text="${session.loginUser.empName}"></div>
							</div>

							<div class="form">
								<div class="label">性別：</div>
								<div class="input" style="display:none;">
									<input type="radio" th:field="*{gender}" value="1" id="genMale" />
									<label class="radio-label" for="genMale">男性</label>&nbsp;&nbsp;
									<input type="radio" th:field="*{gender}" value="2" id="genFema" />
									<label class="radio-label" for="genFema">女性</label>
								</div>
								<div class="input" th:switch="${session.loginUser.gender}">
									<span th:case="1">男性</span>
									<span th:case="2">女性</span>
								</div>
							</div>

							<div class="form">
								<div class="label">住所：</div>
								<div class="input required" style="display:none;">
									<input type="text" th:field="*{address}" />
								</div>
								<div class="input" th:text="${employeeForm.address}"></div>
							</div>

							<div class="form">
								<div class="label">生年月日：</div>
								<div class="input required" style="display:none;">
									<input type="text" th:field="*{birthday}" />(YYYY/MM/DD)
								</div>
								<div class="input" th:text="${#dates.format(session.loginUser.birthday, 'yyyy/MM/dd')}">
								</div>
							</div>
							<div class="form">
								<div class="label">権限：</div>
								<div class="input" style="display:none;">
									<input type="radio" th:field="*{authority}" value="1" id="generalUser" />
									<label class="radio-label" for="generalUser">一般</label>
								</div>

								<div class="input" th:switch="${session.loginUser.authority}">
									<span th:case="1">一般</span>
									<span th:case="2">管理者</span>
								</div>
							</div>

							<div class="form">
								<div class="label">部署名：</div>
								<div class="input" style="display:none;">
									<select th:field="*{deptId}">
										<option value="1">営業部</option>
										<option value="2">経理部</option>
										<option value="3">総務部</option>
									</select>
								</div>
								<div class="input" th:switch="${session.loginUser.deptId}">
									<span th:case="1">営業部</span>
									<span th:case="2">経理部</span>
									<span th:case="3">総務部</span>
								</div>
							</div>

						</span>

						<span th:case="2">
							<div class="form">
								<div class="label">パスワード：</div>
								<div class="input required">
									<input type="password" th:field="*{empPass}" />
								</div>
							</div>

							<div class="form">
								<div class="label">社員名：</div>
								<div class="input required">
									<input type="text" th:field="*{empName}" />
								</div>
							</div>

							<div class="form">
								<div class="label">性別：</div>
								<div class="input">
									<input type="radio" th:field="*{gender}" value="1" id="genMale" />
									<label class="radio-label" for="genMale">男性</label>&nbsp;&nbsp;
									<input type="radio" th:field="*{gender}" value="2" id="genFema" />
									<label class="radio-label" for="genFema">女性</label>
								</div>
							</div>

							<div class="form">
								<div class="label">住所：</div>
								<div class="input required">
									<input type="text" th:field="*{address}" />
								</div>
							</div>

							<div class="form">
								<div class="label">生年月日：</div>
								<div class="input required">
									<input type="text" th:field="*{birthday}" />(YYYY/MM/DD)
								</div>
							</div>

							<div class="form">
								<div class="label">権限：</div>
								<div class="input">
									<input type="radio" th:field="*{authority}" value="1" id="generalUser" />
									<label class="radio-label" for="generalUser">一般</label>&nbsp;&nbsp;
									<input type="radio" th:field="*{authority}" value="2" id="adminUser" />
									<label class="radio-label" for="adminUser">管理者</label>
								</div>
							</div>

							<div class="form">
								<div class="label">部署名：</div>
								<div class="input">
									<select th:field="*{deptId}">
										<option value="1">営業部</option>
										<option value="2">経理部</option>
										<option value="3">総務部</option>
									</select>
								</div>
							</div>
						</span>
					</th:block>

					<div class="form">
						<div class="label"></div>
						<div class="input">
							<input type="hidden" th:field="*{empId}" />
							<input type="submit" value="変更" />
						</div>
					</div>
				</form>

				<form th:action="@{/list}" name="back">
					<div class="form">
						<div class="label"></div>
						<div class="input">
							<input type="submit" value="戻る" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>